/* Reset some default browser styles */
body, h1, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FAF1E4;
}

.header-box {
  color: #ffffff;
  text-align: left;
  padding: 80px;
  max-width: 200px;
  margin-top: 30px;
}
h1{
  color: black;
}
.pic{
  position: absolute;
  top: 12%;
  right: 260px;
  left: auto;
}
.wel{
  position: absolute;
  top: 330px;
  right: auto;
  left: 500px;
  font-size: xx-large;
}
.bal{
  position: absolute;
  top: 310px;
  right: auto;
  left: 1200px;
  font-size:larger;
}
.peso{
  position: absolute;
  top: 360px;
  right: auto;
  left: 1200px;
  font-size: 40px 
}
.money{
  color: white;
  position: absolute;
  top: 360px;
  right: auto;
  left: 1250px;
  font-size: 40px
   
}
main {
  max-width: 800px;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.transactions {
  padding: 10px;
}

.transactions ul li {
  margin-bottom: 110px !important;
  margin-top: 75px;
}

ul {
  list-style: none;
  padding: 10px;
}

.center-box, .top-box, .box {
  text-align: center;
  background-color: #CEDEBD;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  margin: 20px auto;
}

.center-box {
  position: absolute;
  top: 400px;
  right: 10%;
  left: -85%;
  transform: translate(0%, -50%);
  width: 25%;
  height: 1000px;
  padding: 20px;
  z-index: -2;
}

.top-box {
  background-color: #9EB384;
  position: absolute;
  top: 655px;
  right: 10%;
  left: -75%;
  transform: translate(0%, -50%);
  width: 10%;
  height: 10px;
  padding: 20px;
  z-index: -2;
  border-radius: 20px;
}

.box {
  /* Common styles for all boxes */
  width: 25%;
  height: 200px;
  padding: 20px;
}

.box1 {
  background-color: #9EB384;
  position: absolute;
  top: 525px;
  right: 10%;
  left: -75%;
  transform: translate(0%, -50%);
  width: 10%;
  height: 10px;
  padding: 20px;
  z-index: -2;
  border-radius: 20px;
}

.box2 {
  background-color: #9EB384;
  position: absolute;
  top: 400px;
  right: 10%;
  left: -75%;
  transform: translate(0%, -50%);
  width: 10%;
  height: 10px;
  padding: 20px;
  z-index: -2;
  border-radius: 20px;
}

.box3 {
  background-color: #9EB384;
  position: absolute;
  top: 270px;
  right: 10%;
  left: -75%;
  transform: translate(0%, -50%);
  width: 10%;
  height: 10px;
  padding: 20px;
  z-index: -2;
  border-radius: 20px;
}

.box4 {
  background-color: #9EB384;
  position: absolute;
  top: 780px;
  right: 10%;
  left: -75%;
  transform: translate(0%, -50%);
  width: 10%;
  height: 10px;
  padding: 20px;
  z-index: -2;
  border-radius: 20px;
}

.box5 {
  background-color: #CEDEBD; /* big behind green box */
  position: absolute;
  top: 530px;
  right: 10%;
  left: 20%;
  transform: translate(0%, -50%);
  width: 70%;
  height: 80%;
  padding: 20px;
  z-index: -2;
  border-radius: 20px;

}

.box6 {
  background-color: #EDB7ED; /* Chartreuse */
  position: absolute;
  top: 380px;
  right: 90%;
  left: 25%;
  transform: translate(0%, -50%);
  width: 30%;
  height: 20%;
  padding: 20px;
  z-index: -2;
  border-radius: 20px;
  border: 3px solid #000;

}

.box7 {
  background-color: grey; /* Hot Pink */
  position: absolute;
  border-radius: 50%;
  width: 0;
  height: 0;
  top: 80px;
  right: auto;
  left: 80%;

}
.box8 {
  background-color: #EDB7ED; /* rightbox*/
  position: absolute;
  top: 380px;
  right: 50%;
  left: 60%;
  transform: translate(0%, -50%);
  width: 23%;
  height: 20%;
  padding: 20px;
  z-index: -2;
  border-radius: 20px;
  border: 3px solid #000;

}
.box9 {
  background-color: #EDB7ED; /* Chartreuse */
  position: absolute;
  top: -370px;
  right: 30%;
  left: 5%;
  transform: translate(0%, -50%);
  width: 60%;
  height: 340px;
  padding: 20px;
  z-index: -2;
  border-radius: 20px;
  border: 3px solid #f5f5f5;
  position: relative; /* Add this to make the ::before pseudo-element relative to the .box9 element */
}

.box9::before {
  content: "";
  position: absolute;
  top: 10%; /* Place the line in the center vertically */
  left: 0;
  right: 0;
  height: 2px; /* Adjust the height of the line as needed */
  background-color: #000; /* Adjust the color of the line as needed */
  
}

img{
  position: absolute;
  top: 650px;
  right: auto;
  left: 500px;
  height: 200px;
  
}

.Dash{
  position: absolute;
  top: 100px;
  right: auto;
  left: 400px;
  
}
