
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}


header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 2rem;
    margin-left: 20px;
}

nav ul {
    position: fixed;
    top: 0;
    right: 0;
    margin: 20px; 
}

nav ul li {
    display: inline;
    margin-left: 40px; 
}



nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff5733; 
}

/* Style sections */
.section {
    padding: 60px 0;
    text-align: center;
}

.section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: gray;
}

.section p {
    font-size: 1.2rem;
    color: #666;
}


.section:nth-child(odd) {
    background-color: #f5f5f5;
}

/* Add styling for the gallery */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.gallery-item {
    flex-basis: calc(33.33% - 20px); 
    margin-bottom: 20px;
}

.gallery img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd; 
    border-radius: 4px;
}
.gallery-item:hover {
  transform: scale(1.1);

}

.gallery p {
    font-size: 1.2rem;
    color: #666;
    margin-top: 10px;
    text-align: center;
}


body {
    font-family: Arial, sans-serif;
    overflow-y: scroll;
    line-height: 1.6;
}
.heading{
    font-family:  'Handlee';
    color: #484848;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    margin: 120px;
    letter-spacing: 7px;
    cursor: pointer;
   
    
  }
  
  .heading {
    animation: fadeIn 2s forwards;
    animation-delay: 2.5s; /* Delay the animation for 1 second */
    opacity: 0;
    transform: translateX(-20px); /* Start position */
  }
  .heading1{
    font-family:  Arial, sans-serif;;
    color: #484848;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
  
    letter-spacing: 7px;
    cursor: pointer
    
  }
  .learn{
    text-align: center;
    color:white;
    font-size: 15px;
  }
  
 

.section#about {
  animation: slideIn 2s forwards;
  opacity: 0;
}

.title .block, .role .block, .role p {
  animation: fadeIn 2s forwards;
  animation-delay: 1s;
  opacity: 0;
}


@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


* {
    margin: 0;
    padding: 0;
  }
  
  .effect {
    font-size: 2vmin;
    font-family: JetBrains Mono, monospace;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e4bb68;
    margin-top: -vh;
  }
  .string {
    display: flex;
    flex-direction: column;
    text-align: center;
    animation: move 4s infinite;
  }
  
  .greeting {
    position: relative;
    top: 11.4vmin;
    animation: white-out 5s infinite;
  }
  
  .closure::after {
    content: '';
    position: absolute;
    height: 25vmin;
    width: 60vmin;
    background: #333;
    transform: translate(-45vmin, -24.5vmin);
  }
  
  .closure::before {
    content: '';
    position: absolute;
    height: 25vmin;
    width: 60vmin;
    background: #333;
    transform: translate(-40vmin, 6.9vmin);
  }
  
  .en {
    color: #fa8231;
  }
  
  .es {
    color: white;
  }
  
  .de {
    color: #c678dd;
  }
  
  .it {
    color: #a9b0bd;
  }
  
  @keyframes move {
    25% {
      transform: translatey(-7.7vmin);
      opacity: 1;
    }
    50% {
      
    }
    75% {
      transform: translatey(-16.8vmin);
    }
    100%{
      transform:translateY(-24vmin);
    }
  }
  
  
.contact a {
  display: inline-block;
  margin-top: 20px; 
  text-decoration: none; 
}
a:hover {
  color: #FF0000; /* Change the color to the desired hover color */
  text-decoration: underline; /* Add an underline on hover (optional) */
}

/* Style the icon image */
.contact img {
  width: 40px; 
  height: 40px; 
}
