
body, h1, h2, h3, p {
    margin: 3px;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    background-color: transparent;
    text-align: center;
    margin: 0; 
}


.background {
    background-image: url('https://images.pexels.com/photos/3842751/pexels-photo-3842751.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load');
    background-size: cover;
    background-position: center;
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    max-width: 800px;
    padding: 20px;
   
}


table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #333; 
}
